# Discord Bot
DISCORD_TOKEN=tu_token_del_bot
CLIENT_ID=tu_client_id
GUILD_ID=tu_guild_id

# Colors
COLOR_PRIMARY=0x00BFFF
COLOR_SECONDARY=0x8A2BE2
COLOR_SUCCESS=0x00FF00
COLOR_ERROR=0xFF0000
COLOR_WARNING=0xFFA500

# Bot Settings
BOT_NAME=Nexa
BOT_OWNER=AxioLabs
BOT_FOOTER=Nexa - Powered by AxioLabs
